:root {
    --branco-principal: #000000fa;
    --cinza-secundario: #000000;
    --botao-azul: #110e0e;
    --cor-de-fundo: #ffffff;
}
body{
    background-color: #f6fbf6;
    text-align:center
}
h{text-align: center;}
p{
    color: rgb(12, 9, 9);
    text-align: center;
}
* {
    margin: 1;
    padding: 2;
}